<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Home', home_path %></li>
    </ul>

    <ul class="right">
      <li><%= link_to 'Become a Foster Parent', new_foster_parent_path %></li>
      <li><%= link_to 'Login', login_path %></li>
    </ul>
  </div>
</nav>