<div class="card light-blue">
  <div class="card-content white-text">
    <span class="card-title">Categories</span>
    <ul class="collection">
      <li><%= link_to 'All', items_path, :class => "collection-item" %></li>
      <% @categories.each do |c|%>
      <li><%= link_to "#{a.name}", items_path(category: c), :class => "collection-item" %></li>
      <% end %>
    </ul>
  </div>
</div>
