
<html>
<head>
    <title>Text alignment</title>
    <style>
        h1{text-align: center;}
    </style>
</head>
<body>

    <div class="card-panel orange darken-2"> 
        <span class="brown-text text-darken-2"><h1>Great Pittsburgh <br>
        Baking Outlet </h1>  </span> </div>

</body>
</html>

