<div class="#main_content">
  <div class="small-7 columns">
    <h1 id= "main_content"></h1>
    <h2><em>About the Great Pittsburgh Baking Outlet</em></h2>

    <p>
     We are a small bakery, founded by brothers Alex and Mark Heimann. Committed to delivering
      the best baked goods to our customers, we use the finest quality ingredients. Additionally,
      we have recruited the best bakers in the business to produce our products. Shipped straight to your
      address, you are sure to enjoy our tasty treats!
    </p>
    <p>&nbsp;</p>

  </div>
</div>