<h4>About the Greater Valley Community Services</h4>
<p>The Foster Care program provides training, certification, 
and retention services for family foster care providers. 
Foster homes provide temporary substitute care for children, 
ages 0 through 21, who have been removed from their families due 
to physical, sexual, or emotional abuse; neglect; or if the 
parent is otherwise unavailable. Foster parents offer day to 
day care and guidance until the child can be reunited with his 
or her birth family, move to a kinship family or permanent adoptive
 home, or emancipate. Caseworkers work closely with foster parents 
 to identify and meet the special needs of the children. Children 
 are provided with health care coverage and the foster parents are 
 given a monthly stipend to help reimburse the cost of their care. </p>