<div class="row">
	<div class="small-7 columns">
    <h1 id= "main_content"></h1>
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Ryan McGrady</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("rmcgrady@cmu.edu", "Ryan McGrady", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>917-455-5157</td>
			</tr>
		</table>

		<p class="note"><br>I am a sophmore majoring in Information Systems at Carnegie Mellon University, 
		with a passion for making web applications for bakeries!  
			<br><br><em>I make bakery applications so that I get free treats.</em></p>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>