    <br>
    <h4 style="text-align:center;" >Welcome to GVCS Foster Parent Submission System!</h4>
    
    <p style="text-align:center;">This is a system where foster parents can submit 
    their documents as requested by case workers!<p>

    <p style="text-align:center;"><%= image_tag "logo.jpg", width: 700 %></p>
    

