<div class="card">
        <div class="card-content">
            <h4>Other Items at GPBO</h4>

            <% if @other_items.empty? %>
                <p>There are no items at this time.</p>
            <%else %>

                <table class = "striped highlight">
                    <thead>
                        <th>Name</th>
                        <th>Price</th>
                        <% if !current_user.nil? && current_user.role?(:admin) %>
                            <th>Inventory</th>
                        <% end %>
                    </thead>
                    <% for item in @other_items %>
                        <% if item.active? && !item.current_retail_price.nil?%>
                            <tr>
                                <td><%= link_to "#{item.name}", item_path(item)%></td>
                                <td><%= number_to_currency item.current_retail_price %> </td>
                                <% if !current_user.nil? && current_user.role?(:admin) %>
                                    <td><%= item.inventory_level %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                </table>
            <%end%>

        </div>
    </div>