    <div class="card">
        <div class="card-content">
            <h4>Find by Category</h4>

            <%= link_to "All", items_path%><br>
            
            <% if logged_in? && current_user.role?(:admin)%>
                <% for category in @categories.alphabetical %>
                    <%= link_to "#{category.name}", items_path(:category => category)%><br>
                <% end %>
            <% else %>
                <% for category in @categories.active.alphabetical %>
                    <%= link_to "#{category.name}", items_path(:category => category)%><br>
                <% end %>
            <% end %>
            
        </div>
    </div>