<% unless @prices.empty? %>
    <% if !current_user.nil? && current_user.role?(:admin) %>
        <div class="card">
            <div class="card-content">
                <h4>Price History</h4>
                <table class = "striped highlight">
                    <thead>
                        <th>Date</th>
                        <th>Price</th>
                    </thead>

                    <% for price in @prices.chronological %>
                        <tr>
                            <td><%= price.start_date.strftime("%b %d, %Y") %></td>
                            <td> <%= number_to_currency price.price %> </td>
                        </tr>
                    <% end%>
                </table><br>

                <% if can? :new, ItemPrice %>
                    <%= link_to "Add a New Price", new_item_price_path(item_id: @item.id), class: 'waves-effect waves-light btn btn-alert' %>
                <% end %>
            </div>
        </div>
    <% end%>
<% else %>
    <div class="card">
        <div class="card-content">
            <% if can? :new, ItemPrice %>
                <%= link_to "Add a New Price", new_item_price_path(item_id: @item.id), class: 'waves-effect waves-light btn btn-alert' %>
            <% end %>
        </div>
    </div>
<% end %>